<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

    <bean id="rock"
          class="org.example.RockMusic"
            scope="prototype"
            init-method="doMyInit"
            destroy-method="doMyDestroy"
            factory-method="getRockMusic">
    </bean>

<!--    <bean id="jazz"-->
<!--          class="org.example.JazzMusic">-->
<!--    </bean>-->

<!--    <bean id="classic"-->
<!--          class="org.example.ClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="musicList"-->
<!--          class="java.util.ArrayList">-->
<!--        <constructor-arg>-->
<!--            <list>-->
<!--                <ref bean="rock"/>-->
<!--                <ref bean="jazz"/>-->
<!--                <ref bean="classic"/>-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
<!--    -->
<!--    <bean id = "musicPlayer"-->
<!--          class="org.example.MusicPlayer"-->
<!--            scope="prototype">-->
<!--        <property name="musicList" ref="musicList"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->



</beans>